In [11]:
using Pkg

In [12]:
using CSV, DataFrames

In [6]:
animals_df = CSV.read("a-z-animal_name.csv")
animals_df |>
  DataFrame

593×62 DataFrame. Omitted printing of 57 columns
│ Row │ Index │ Name                    │ Kingdom  │ Phylum   │ Class          │
│     │ Int64 │ String                  │ String   │ String   │ String         │
├─────┼───────┼─────────────────────────┼──────────┼──────────┼────────────────┤
│ 1   │ 1     │ Aardvark                │ Animalia │ Chordata │ Mammalia       │
│ 2   │ 2     │ Abyssinian              │ NA       │ NA       │ NA             │
│ 3   │ 3     │ Adelie Penguin          │ Animalia │ Chordata │ Aves           │
│ 4   │ 4     │ Affenpinscher           │ NA       │ NA       │ NA             │
│ 5   │ 5     │ Afghan Hound            │ NA       │ NA       │ NA             │
│ 6   │ 6     │ African Bush Elephant   │ Animalia │ Chordata │ Mammalia       │
│ 7   │ 7     │ African Civet           │ Animalia │ Chordata │ Mammalia       │
│ 8   │ 8     │ African Clawed Frog     │ Animalia │ Chordata │ Amphibia       │
│ 9   │ 9     │ African Forest Elephant │ Animalia │ Chordata │ Mammalia       │
│ 10  │ 10    │ African Palm Civet      │ Animalia │ Chordata │ Mammalia       │
⋮
│ 583 │ 583   │ Woolly Monkey           │ Animalia │ Chordata │ Mammalia       │
│ 584 │ 584   │ Wrasse                  │ Animalia │ Chordata │ Actinopterygii │
│ 585 │ 585   │ X-Ray Tetra             │ Animalia │ Chordata │ Actinopterygii │
│ 586 │ 586   │ Yak                     │ Animalia │ Chordata │ Mammalia       │
│ 587 │ 587   │ Yellow-Eyed Penguin     │ Animalia │ Chordata │ Aves           │
│ 588 │ 588   │ Yorkshire Terrier       │ NA       │ NA       │ NA             │
│ 589 │ 589   │ Zebra                   │ Animalia │ Chordata │ Mammalia       │
│ 590 │ 590   │ Zebra Shark             │ Animalia │ Chordata │ Chondrichthyes │
│ 591 │ 591   │ Zebu                    │ Animalia │ Chordata │ Mammalia       │
│ 592 │ 592   │ Zonkey                  │ Animalia │ Chordata │ Mammalia       │
│ 593 │ 593   │ Zorse                   │ Animalia │ Chordata │ Mammalia       │

In [7]:
names(animals_df)

62-element Array{Symbol,1}:
 :Index
 :Name
 :Kingdom
 :Phylum
 :Class
 :Order
 :Family
 :Genus
 Symbol("Scientific Name")
 Symbol("Common Name")
 Symbol("Other Name(s)")
 :Group
 Symbol("Number Of Species")
 ⋮
 Symbol("Water Type")
 Symbol("Average Spawn Size")
 Symbol("Age Of Independence")
 Symbol("Main Prey")
 Symbol("Average Size")
 Symbol("Optimum pH Level")
 Symbol("Favourite Food")
 Symbol("Special Features")
 :Size
 :Extinct
 Symbol("Litter Size")
 :Subfamily

In [20]:
animals_new_df = animals_df[[:Index,:Name,:Group,:Location,:Habitat, Symbol("Conservation Status"), Symbol("Estimated Population Size"), Symbol("Biggest Threat")]]
# change the columns' names into the standard format

┌ Warning: `getindex(df::DataFrame, col_inds::Union{AbstractVector, Regex, Not})` is deprecated, use `df[:, col_inds]` instead.
│   caller = top-level scope at In[20]:1
└ @ Core In[20]:1

593×8 DataFrame. Omitted printing of 5 columns
│ Row │ Index │ Name                    │ Group     │
│     │ Int64 │ String                  │ String    │
├─────┼───────┼─────────────────────────┼───────────┤
│ 1   │ 1     │ Aardvark                │ Mammal    │
│ 2   │ 2     │ Abyssinian              │ Cat       │
│ 3   │ 3     │ Adelie Penguin          │ Bird      │
│ 4   │ 4     │ Affenpinscher           │ Dog       │
│ 5   │ 5     │ Afghan Hound            │ Dog       │
│ 6   │ 6     │ African Bush Elephant   │ Mammal    │
│ 7   │ 7     │ African Civet           │ Mammal    │
│ 8   │ 8     │ African Clawed Frog     │ Amphibian │
│ 9   │ 9     │ African Forest Elephant │ Mammal    │
│ 10  │ 10    │ African Palm Civet      │ Mammal    │
⋮
│ 583 │ 583   │ Woolly Monkey           │ NA        │
│ 584 │ 584   │ Wrasse                  │ NA        │
│ 585 │ 585   │ X-Ray Tetra             │ Fish      │
│ 586 │ 586   │ Yak                     │ NA        │
│ 587 │ 587   │ Yellow-Eyed Penguin     │ NA        │
│ 588 │ 588   │ Yorkshire Terrier       │ Terrier   │
│ 589 │ 589   │ Zebra                   │ Mammal    │
│ 590 │ 590   │ Zebra Shark             │ NA        │
│ 591 │ 591   │ Zebu                    │ NA        │
│ 592 │ 592   │ Zonkey                  │ Mammal    │
│ 593 │ 593   │ Zorse                   │ Mammal    │

In [22]:
animals_1 = animals_new_df[animals_new_df[Symbol("Conservation Status")].!=["NA"],:]
animals_2 = animals_1[animals_1[Symbol("Conservation Status")].!=["Common"],:]
animals_3 = animals_2[animals_2[Symbol("Conservation Status")].!=["Not Listed"],:]
animals_4 = animals_3[animals_3[Symbol("Conservation Status")].!=["Data Deficient"],:]
animals_5 = animals_4[animals_4[Symbol("Conservation Status")].!=["Least Concern, Vulnerable, Critically Endangered"],:]
# delete useless data in the "Conservation Status" column

┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[22]:1
└ @ Core In[22]:1
┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[22]:2
└ @ Core In[22]:2
┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[22]:3
└ @ Core In[22]:3
┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[22]:4
└ @ Core In[22]:4
┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[22]:5
└ @ Core In[22]:5

444×8 DataFrame. Omitted printing of 5 columns
│ Row │ Index │ Name                    │ Group     │
│     │ Int64 │ String                  │ String    │
├─────┼───────┼─────────────────────────┼───────────┤
│ 1   │ 1     │ Aardvark                │ Mammal    │
│ 2   │ 3     │ Adelie Penguin          │ Bird      │
│ 3   │ 6     │ African Bush Elephant   │ Mammal    │
│ 4   │ 7     │ African Civet           │ Mammal    │
│ 5   │ 8     │ African Clawed Frog     │ Amphibian │
│ 6   │ 9     │ African Forest Elephant │ Mammal    │
│ 7   │ 10    │ African Palm Civet      │ Mammal    │
│ 8   │ 11    │ African Penguin         │ Bird      │
│ 9   │ 12    │ African Tree Toad       │ NA        │
│ 10  │ 13    │ African Wild Dog        │ Mammal    │
⋮
│ 434 │ 579   │ Wombat                  │ NA        │
│ 435 │ 580   │ Woodlouse               │ NA        │
│ 436 │ 581   │ Woodpecker              │ NA        │
│ 437 │ 582   │ Woolly Mammoth          │ NA        │
│ 438 │ 583   │ Woolly Monkey           │ NA        │
│ 439 │ 584   │ Wrasse                  │ NA        │
│ 440 │ 586   │ Yak                     │ NA        │
│ 441 │ 587   │ Yellow-Eyed Penguin     │ NA        │
│ 442 │ 589   │ Zebra                   │ Mammal    │
│ 443 │ 590   │ Zebra Shark             │ NA        │
│ 444 │ 591   │ Zebu                    │ NA        │

In [23]:
by(animals_5, Symbol("Conservation Status") , nrow)
# Group the animals by conservation status

7×2 DataFrame
│ Row │ Conservation Status   │ x1    │
│     │ String                │ Int64 │
├─────┼───────────────────────┼───────┤
│ 1   │ Least Concern         │ 199   │
│ 2   │ Threatened            │ 116   │
│ 3   │ Endangered            │ 73    │
│ 4   │ Vulnerable            │ 25    │
│ 5   │ Critically Endangered │ 19    │
│ 6   │ Near Threatened       │ 7     │
│ 7   │ Extinct               │ 5     │

In [24]:
animals_6 = animals_5[animals_5[Symbol("Conservation Status")].!="Least Concern",:]
animals_7 = animals_6[animals_6[Symbol("Conservation Status")].!="Near Threatened",:]
animals_8 = animals_7[animals_7[Symbol("Conservation Status")].!="Threatened",:]
# delete some status in the "Conservation Status" column

┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[24]:1
└ @ Core In[24]:1
┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[24]:2
└ @ Core In[24]:2
┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[24]:3
└ @ Core In[24]:3

122×8 DataFrame. Omitted printing of 5 columns
│ Row │ Index │ Name                    │ Group   │
│     │ Int64 │ String                  │ String  │
├─────┼───────┼─────────────────────────┼─────────┤
│ 1   │ 9     │ African Forest Elephant │ Mammal  │
│ 2   │ 11    │ African Penguin         │ Bird    │
│ 3   │ 13    │ African Wild Dog        │ Mammal  │
│ 4   │ 19    │ Albatross               │ Bird    │
│ 5   │ 20    │ Aldabra Giant Tortoise  │ Reptile │
│ 6   │ 40    │ Armadillo               │ NA      │
│ 7   │ 41    │ Asian Elephant          │ NA      │
│ 8   │ 43    │ Asian Palm Civet        │ NA      │
│ 9   │ 44    │ Asiatic Black Bear      │ Mammal  │
│ 10  │ 51    │ Axolotl                 │ NA      │
⋮
│ 112 │ 557   │ Vulture                 │ NA      │
│ 113 │ 562   │ Water Buffalo           │ NA      │
│ 114 │ 568   │ Western Gorilla         │ NA      │
│ 115 │ 569   │ Western Lowland Gorilla │ NA      │
│ 116 │ 573   │ White Rhinoceros        │ NA      │
│ 117 │ 574   │ White Tiger             │ Mammal  │
│ 118 │ 576   │ Wildebeest              │ NA      │
│ 119 │ 579   │ Wombat                  │ NA      │
│ 120 │ 582   │ Woolly Mammoth          │ NA      │
│ 121 │ 587   │ Yellow-Eyed Penguin     │ NA      │
│ 122 │ 589   │ Zebra                   │ Mammal  │

In [25]:
by(animals_8, Symbol("Conservation Status") , nrow)
# Group the animals by conservation status

4×2 DataFrame
│ Row │ Conservation Status   │ x1    │
│     │ String                │ Int64 │
├─────┼───────────────────────┼───────┤
│ 1   │ Endangered            │ 73    │
│ 2   │ Vulnerable            │ 25    │
│ 3   │ Critically Endangered │ 19    │
│ 4   │ Extinct               │ 5     │

In [27]:
animals_8|>
  DataFrame |>
    describe

8×8 DataFrame. Omitted printing of 6 columns
│ Row │ variable                  │ mean    │
│     │ Symbol                    │ Union…  │
├─────┼───────────────────────────┼─────────┤
│ 1   │ Index                     │ 323.246 │
│ 2   │ Name                      │         │
│ 3   │ Group                     │         │
│ 4   │ Location                  │         │
│ 5   │ Habitat                   │         │
│ 6   │ Conservation Status       │         │
│ 7   │ Estimated Population Size │         │
│ 8   │ Biggest Threat            │         │