In [12]:
using Pkg

In [13]:
using CSV, DataFrames

WARNING: using DataFrames.groupby in module Main conflicts with an existing identifier.

In [14]:
#create a new column Area
function create_Area(x)
    #use regular expression to match the behind part of "Endangered Mammals of "
    my_matches_step1 = match(r"(?<=Endangered Mammals of )(.*)", x)
    #use regular expression to match numeric and alphabet characters
    my_matches_step2 = match(r"[a-zA-Z0-9 -]*", my_matches_step1.match)
    return my_matches_step2.match
end
animals_final_df = DataFrame()
for num = 1:11
    #read 11 mammal animal files
    animals_df = CSV.read("Endangered mammal animals_$num.csv")
    animals_df = animals_df |> DataFrame
    #add a new column "Area"
    insert!(animals_df, 9, create_Area.(animals_df[Symbol("Endangered Animals of Area")]), :Area)
    #add a new column "Status"
    animals_df[:Status] = SubString.(animals_df[Symbol("Status/Date Listed as Endangered:")], 1, 2)
    if num == 1
        animals_final_df = animals_df
    else
        animals_final_df = [animals_final_df;animals_df]
    end
end

┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[14]:15
└ @ Core ./In[14]:15
┌ Warning: `insert!(df::DataFrame, col_ind::Int, item, name::Symbol; makeunique::Bool=false)` is deprecated, use `insertcols!(df, col_ind, name => item; makeunique=makeunique)` instead.
│   caller = top-level scope at In[14]:15
└ @ Core ./In[14]:15
┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[14]:17
└ @ Core ./In[14]:17
┌ Warning: `setindex!(df::DataFrame, v::AbstractVector, col_ind::ColumnIndex)` is deprecated, use `begin
│     df[!, col_ind] = v
│     df
│ end` instead.
│   caller = top-level scope at In[14]:17
└ @ Core ./In[14]:17

In [15]:
animals_final_df |>
  DataFrame

1329×10 DataFrame. Omitted printing of 8 columns
│ Row  │ index │ Common Name                    │
│      │ Int64 │ String                         │
├──────┼───────┼────────────────────────────────┤
│ 1    │ 1     │ Abbott's Duiker                │
│ 2    │ 2     │ Aberdare Mole Shrew            │
│ 3    │ 3     │ Addax                          │
│ 4    │ 4     │ Aders' Duiker                  │
│ 5    │ 5     │ Aellen's Roundleaf Bat         │
│ 6    │ 6     │ African Elephant               │
│ 7    │ 7     │ African Golden Cat             │
│ 8    │ 8     │ African Lion                   │
│ 9    │ 9     │ African White-bellied Pangolin │
│ 10   │ 10    │ African Wild Ass               │
⋮
│ 1319 │ 196   │ Vicuna                         │
│ 1320 │ 197   │ West Indian Manatee            │
│ 1321 │ 198   │ Western Nectar Bat             │
│ 1322 │ 199   │ White-cheeked Spider Monkey    │
│ 1323 │ 200   │ White-eared Marmoset           │
│ 1324 │ 201   │ White-footed Saki              │
│ 1325 │ 202   │ White-lipped Peccary           │
│ 1326 │ 203   │ White-nosed Saki               │
│ 1327 │ 204   │ Woolly Spider Monkey           │
│ 1328 │ 205   │ Yellow-tailed Woolly Monkey    │
│ 1329 │ 206   │ Zuniga's Dark Rice Rat         │

In [16]:
animals_final_df |> describe 
# An overall quick look at the dataframe

10×8 DataFrame. Omitted printing of 6 columns
│ Row │ variable                              │ mean    │
│     │ Symbol                                │ Union…  │
├─────┼───────────────────────────────────────┼─────────┤
│ 1   │ index                                 │ 103.137 │
│ 2   │ Common Name                           │         │
│ 3   │ Endangered Animals of Area            │         │
│ 4   │ Scientific Name:                      │         │
│ 5   │ Other Names and/or Listed subspecies: │         │
│ 6   │ Group:                                │         │
│ 7   │ Status/Date Listed as Endangered:     │         │
│ 8   │ Area(s) Where Listed As Endangered:   │         │
│ 9   │ Area                                  │         │
│ 10  │ Status                                │         │

In [17]:
deletecols!(animals_final_df, 5) |>
  DataFrame |> describe 
# delelte the culumn named "Other Names and/or Listed subspecies:" because it is irrelevant and has too many NAs

┌ Warning: `deletecols!(df::DataFrame, inds)` is deprecated, use `select!(df, Not(inds))` instead.
│   caller = top-level scope at In[17]:1
└ @ Core In[17]:1

9×8 DataFrame. Omitted printing of 6 columns
│ Row │ variable                            │ mean    │
│     │ Symbol                              │ Union…  │
├─────┼─────────────────────────────────────┼─────────┤
│ 1   │ index                               │ 103.137 │
│ 2   │ Common Name                         │         │
│ 3   │ Endangered Animals of Area          │         │
│ 4   │ Scientific Name:                    │         │
│ 5   │ Group:                              │         │
│ 6   │ Status/Date Listed as Endangered:   │         │
│ 7   │ Area(s) Where Listed As Endangered: │         │
│ 8   │ Area                                │         │
│ 9   │ Status                              │         │

In [18]:
names(animals_final_df)

9-element Array{Symbol,1}:
 :index
 Symbol("Common Name")
 Symbol("Endangered Animals of Area")
 Symbol("Scientific Name:")
 Symbol("Group:")
 Symbol("Status/Date Listed as Endangered:")
 Symbol("Area(s) Where Listed As Endangered:")
 :Area
 :Status

In [19]:
names!(animals_final_df, [:Index, Symbol("Common Name"), Symbol("Endangered Animals of Area"), Symbol("Scientific Name"), Symbol("Group"), Symbol("Status/Date Listed as Endangered"), Symbol("Area(s) Where Listed As Endangered"), :Area, :Status])
# change the columns' names into the standard format

1329×9 DataFrame. Omitted printing of 7 columns
│ Row  │ Index │ Common Name                    │
│      │ Int64 │ String                         │
├──────┼───────┼────────────────────────────────┤
│ 1    │ 1     │ Abbott's Duiker                │
│ 2    │ 2     │ Aberdare Mole Shrew            │
│ 3    │ 3     │ Addax                          │
│ 4    │ 4     │ Aders' Duiker                  │
│ 5    │ 5     │ Aellen's Roundleaf Bat         │
│ 6    │ 6     │ African Elephant               │
│ 7    │ 7     │ African Golden Cat             │
│ 8    │ 8     │ African Lion                   │
│ 9    │ 9     │ African White-bellied Pangolin │
│ 10   │ 10    │ African Wild Ass               │
⋮
│ 1319 │ 196   │ Vicuna                         │
│ 1320 │ 197   │ West Indian Manatee            │
│ 1321 │ 198   │ Western Nectar Bat             │
│ 1322 │ 199   │ White-cheeked Spider Monkey    │
│ 1323 │ 200   │ White-eared Marmoset           │
│ 1324 │ 201   │ White-footed Saki              │
│ 1325 │ 202   │ White-lipped Peccary           │
│ 1326 │ 203   │ White-nosed Saki               │
│ 1327 │ 204   │ Woolly Spider Monkey           │
│ 1328 │ 205   │ Yellow-tailed Woolly Monkey    │
│ 1329 │ 206   │ Zuniga's Dark Rice Rat         │

In [20]:
names(animals_final_df)

9-element Array{Symbol,1}:
 :Index
 Symbol("Common Name")
 Symbol("Endangered Animals of Area")
 Symbol("Scientific Name")
 :Group
 Symbol("Status/Date Listed as Endangered")
 Symbol("Area(s) Where Listed As Endangered")
 :Area
 :Status

In [21]:
using Statistics, Query, VegaDatasets, VegaLite

In [22]:
animals_final_df |>
  @groupby(_.Status) |>
  @map({Area = key(_)})
# show the different classifications of endangered animals

7x1 query result
Area
────
EN
VU
CR
NT
T-
NA
DD

In [23]:
sort!(animals_final_df, cols = (:8, :9), rev = (false, false))
# sort the endangered animals by "Area" and "Status"

┌ Warning: sort!(df, cols=cols) is deprecated, use sort!(df, cols) instead
│   caller = ip:0x0
└ @ Core :-1

1329×9 DataFrame. Omitted printing of 7 columns
│ Row  │ Index │ Common Name              │
│      │ Int64 │ String                   │
├──────┼───────┼──────────────────────────┤
│ 1    │ 3     │ Addax                    │
│ 2    │ 4     │ Aders' Duiker            │
│ 3    │ 44    │ Black Rhinoceros         │
│ 4    │ 74    │ Congo Shrew              │
│ 5    │ 82    │ De Winton's Golden Mole  │
│ 6    │ 90    │ Dryad Monkey             │
│ 7    │ 95    │ Eisentraut's Mouse Shrew │
│ 8    │ 97    │ Ethiopian Amphibious Rat │
│ 9    │ 119   │ Greater Bamboo Lemur     │
│ 10   │ 129   │ Harenna Shrew            │
⋮
│ 1319 │ 23    │ Palau Flying Fox         │
│ 1320 │ 26    │ Samoan Flying Fox        │
│ 1321 │ 6     │ Comoro Rousette          │
│ 1322 │ 7     │ Fijian Blossom Bat       │
│ 1323 │ 11    │ Hooded Seal              │
│ 1324 │ 15    │ Kosrae Flying Fox        │
│ 1325 │ 19    │ Mongoose Lemur           │
│ 1326 │ 24    │ Philippine Brown Deer    │
│ 1327 │ 25    │ Pohnpei Flying Fox       │
│ 1328 │ 29    │ Sperm Whale              │
│ 1329 │ 31    │ Yap Flying Fox           │

In [24]:
animals_final_df[animals_final_df[:Status] .== "T-", :Status] = "NT"
# change the "T-" to "NT" according to the definition of the classification of endangered animals

┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[24]:1
└ @ Core In[24]:1
┌ Warning: implicit broadcasting in setindex! is deprecated; use `df[row_inds, col_ind] .= Ref(v)` broadcasting assignment to change the column in place
│   caller = setindex!(::DataFrame, ::String, ::BitArray{1}, ::Symbol) at deprecated.jl:1487
└ @ DataFrames /Users/dijian/.julia/packages/DataFrames/Iyo5L/src/deprecated.jl:1487

"NT"

In [25]:
by(animals_final_df, :Status , nrow)
# count the number of different status for endangered animals

6×2 DataFrame
│ Row │ Status    │ x1    │
│     │ SubStrin… │ Int64 │
├─────┼───────────┼───────┤
│ 1   │ CR        │ 104   │
│ 2   │ EN        │ 554   │
│ 3   │ NT        │ 326   │
│ 4   │ VU        │ 343   │
│ 5   │ NA        │ 1     │
│ 6   │ DD        │ 1     │

In [26]:
animals_final_df[animals_final_df[:Area] .== "Central America", :Area] = "North America"
animals_final_df[animals_final_df[:Area] .== "Hawaii", :Area] = "North America"
animals_final_df[animals_final_df[:Area] .== "the Oceans and Island Nations", :Area] = "Oceania"
animals_final_df[animals_final_df[:Area] .== "Australia", :Area] = "Oceania"
animals_final_df[animals_final_df[:Area] .== "the Middle East", :Area] = "Middle East"
# use the standard names for each area

┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[26]:1
└ @ Core In[26]:1
┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[26]:2
└ @ Core In[26]:2
┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[26]:3
└ @ Core In[26]:3
┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[26]:4
└ @ Core In[26]:4
┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[26]:5
└ @ Core In[26]:5

"Middle East"

In [27]:
by(animals_final_df, :Area , nrow)
# Count the number of different status for endangered animals

8×2 DataFrame
│ Row │ Area          │ x1    │
│     │ SubStrin…     │ Int64 │
├─────┼───────────────┼───────┤
│ 1   │ Africa        │ 253   │
│ 2   │ Antarctica    │ 9     │
│ 3   │ Asia          │ 333   │
│ 4   │ Oceania       │ 152   │
│ 5   │ North America │ 223   │
│ 6   │ Europe        │ 86    │
│ 7   │ South America │ 206   │
│ 8   │ Middle East   │ 67    │