In [1]:
library(tidyverse)
library(readr)
library(skimr)
library(plyr)
library(lubridate)
library(devtools)

-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
√ ggplot2 3.2.0     √ purrr   0.3.2
√ tibble  2.1.3     √ dplyr   0.8.3
√ tidyr   0.8.3     √ stringr 1.4.0
√ readr   1.3.1     √ forcats 0.4.0
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

Attaching package: 'skimr'

The following object is masked from 'package:stats':

    filter

------------------------------------------------------------------------------
You have loaded plyr after dplyr - this is likely to cause problems.
If you need functions from both plyr and dplyr, please load plyr first, then dplyr:
library(plyr); library(dplyr)
------------------------------------------------------------------------------

Attaching package: 'plyr'

The following objects are masked from 'package:dplyr':

    arrange, count, desc, failwith, id, mutate, rename, summarise,
    summarize

The following object is masked from 'package:purrr':

    compact


Attaching package: 'lubridate'

The following object is masked from 'package:plyr':

    here

The following object is masked from 'package:base':

    date

Loading required package: usethis

In [2]:
animal_df <- 'a-z-animal_name.csv' %>% read_csv()
animal_df %>% glimpse()

Parsed with column specification:
cols(
  .default = col_character(),
  Index = col_double(),
  `Number Of Species` = col_double(),
  `Average Spawn Size` = col_double(),
  `Litter Size` = col_double()
)
See spec(...) for full column specifications.

Observations: 593
Variables: 62
$ Index                       <dbl> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, ...
$ Name                        <chr> "Aardvark", "Abyssinian", "Adelie Pengu...
$ Kingdom                     <chr> "Animalia", NA, "Animalia", NA, NA, "An...
$ Phylum                      <chr> "Chordata", NA, "Chordata", NA, NA, "Ch...
$ Class                       <chr> "Mammalia", NA, "Aves", NA, NA, "Mammal...
$ Order                       <chr> "Tubulidentata", NA, "Sphenisciformes",...
$ Family                      <chr> "Orycteropodidae", NA, "Spheniscidae", ...
$ Genus                       <chr> "Orycteropus", NA, "Pygoscelis", NA, NA...
$ `Scientific Name`           <chr> "Orycteropus afer", NA, "Pygoscelis ade...
$ `Common Name`               <chr> "Aardvark", "Abyssinian", "Adelie Pengu...
$ `Other Name(s)`             <chr> "Antbear, Earth Pig", NA, NA, NA, NA, "...
$ Group                       <chr> "Mammal", "Cat", "Bird", "Dog", "Dog", ...
$ `Number Of Species`         <dbl> 18, NA, 1, NA, NA, 1, 1, 1, 1, 1, 1, NA...
$ Location                    <chr> "Sub-Saharan Africa", NA, "Coastal Anta...
$ Habitat                     <chr> "Sandy and clay soil", NA, "Antarctic l...
$ Colour                      <chr> "Brown, grey, yellow", "Fawn, Red, Blue...
$ `Skin Type`                 <chr> "Hair", NA, "Feathers", NA, NA, "Leathe...
$ `Size (L)`                  <chr> "1.05m - 2.20m (3.4ft - 7.3ft)", NA, NA...
$ Weight                      <chr> "60kg - 80kg (130lbs - 180lbs)", NA, "3...
$ `Top Speed`                 <chr> "40kph (25mph)", NA, "72kph (45mph)", N...
$ Diet                        <chr> "Omnivore", NA, "Carnivore", NA, NA, "H...
$ Prey                        <chr> "Termites, Ants", NA, "Krill, Fish, Squ...
$ Predators                   <chr> "Lions, Leopards, Hyenas", NA, "Leopard...
$ Lifestyle                   <chr> "Nocturnal", NA, "Diurnal", NA, NA, "Di...
$ `Group Behaviour`           <chr> "Solitary", NA, "Colony", NA, NA, "Herd...
$ Lifespan                    <chr> "23 years", NA, "10 - 20 years", NA, NA...
$ `Age Of Sexual Maturity`    <chr> "2 years", NA, "2 - 3 years", NA, NA, "...
$ `Gestation Period`          <chr> "7 months", NA, NA, NA, NA, "20 - 24 mo...
$ `Average Litter Size`       <chr> "1", "6", NA, "3", "7", "1", "3", NA, "...
$ `Name Of Young`             <chr> "Cub", NA, "Chicks", NA, NA, "Calf", "P...
$ `Age Of Weaning`            <chr> "3 months", NA, NA, NA, NA, "6 - 18 mon...
$ `Conservation Status`       <chr> "Least Concern", NA, "Least Concern", N...
$ `Estimated Population Size` <chr> "Unknown", NA, "5 million", NA, NA, "30...
$ `Biggest Threat`            <chr> "Habitat loss", NA, "Rapid ice melt", N...
$ `Most Distinctive Feature`  <chr> "Long, sticky tongue and rabbit-like ea...
$ `Fun Fact`                  <chr> "Can move up to 2ft of soil in just 15 ...
$ Origin                      <chr> NA, "Egypt", NA, "Germany", "Afghanista...
$ `Average Size (L)`          <chr> NA, "60cm (2ft)", NA, NA, NA, NA, NA, N...
$ `Average Weight`            <chr> NA, "4.5kg (10lbs)", NA, "3.6kg (8lbs)"...
$ `Average Lifespan`          <chr> NA, "15 years", NA, "12 years", "14 yea...
$ Type                        <chr> NA, "Shorthair", NA, "Terrier", "Hound"...
$ Temperament                 <chr> NA, "Intelligent and curious", NA, "Ale...
$ Training                    <chr> NA, "Easy", NA, "Medium", "Moderately E...
$ `Distinctive Features`      <chr> NA, "Silky fur and almond shaped eyes",...
$ `Size (H)`                  <chr> NA, NA, "40cm - 75cm (16in - 30in)", NA...
$ Wingspan                    <chr> NA, NA, "35cm - 70cm (14in - 27.5in)", ...
$ `Incubation Period`         <chr> NA, NA, "2 months", NA, NA, NA, NA, "4 ...
$ `Average Clutch Size`       <chr> NA, NA, "2", NA, NA, NA, NA, NA, NA, NA...
$ `Age Of Fledgling`          <chr> NA, NA, "90 days", NA, NA, NA, NA, NA, ...
$ `Average Size (H)`          <chr> NA, NA, NA, "25cm (10in)", "68cm (27in)...
$ `Water Type`                <chr> NA, NA, NA, NA, NA, NA, NA, "Fresh", NA...
$ `Average Spawn Size`        <dbl> NA, NA, NA, NA, NA, NA, NA, 2000, NA, N...
$ `Age Of Independence`       <chr> NA, NA, NA, NA, NA, NA, NA, "5 days", N...
$ `Main Prey`                 <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,...
$ `Average Size`              <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,...
$ `Optimum pH Level`          <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,...
$ `Favourite Food`            <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,...
$ `Special Features`          <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,...
$ Size                        <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,...
$ Extinct                     <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,...
$ `Litter Size`               <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,...
$ Subfamily                   <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,...

In [3]:
animal_df

    Index Name                           Kingdom  Phylum     Class
1    1    Aardvark                       Animalia Chordata   Mammalia
2    2    Abyssinian                     NA       NA         NA
3    3    Adelie Penguin                 Animalia Chordata   Aves
4    4    Affenpinscher                  NA       NA         NA
5    5    Afghan Hound                   NA       NA         NA
6    6    African Bush Elephant          Animalia Chordata   Mammalia
7    7    African Civet                  Animalia Chordata   Mammalia
8    8    African Clawed Frog            Animalia Chordata   Amphibia
9    9    African Forest Elephant        Animalia Chordata   Mammalia
10  10    African Palm Civet             Animalia Chordata   Mammalia
11  11    African Penguin                Animalia Chordata   Aves
12  12    African Tree Toad              Animalia Chordata   Amphibia
13  13    African Wild Dog               Animalia Chordata   Mammalia
14  14    Ainu Dog                       NA       NA         NA
15  15    Airedale Terrier               NA       NA         NA
16  16    Akbash                         NA       NA         NA
17  17    Akita                          NA       NA         NA
18  18    Alaskan Malamute               NA       NA         NA
19  19    Albatross                      Animalia Chordata   Aves
20  20    Aldabra Giant Tortoise         Animalia Chordata   Reptilia
21  21    Alligator                      Animalia Chordata   Reptilia
22  22    Alpine Dachsbracke             NA       NA         NA
23  23    American Bulldog               NA       NA         NA
24  24    American Cocker Spaniel        NA       NA         NA
25  25    American Coonhound             NA       NA         NA
26  26    American Eskimo Dog            NA       NA         NA
27  27    American Foxhound              NA       NA         NA
28  28    American Pit Bull Terrier      NA       NA         NA
29  29    American Staffordshire Terrier NA       NA         NA
30  30    American Water Spaniel         NA       NA         NA
... ...   ...                            ...      ...        ...
564 564   Water Vole                     Animalia Chordata   Mammalia
565 565   Weasel                         Animalia Chordata   Mammalia
566 566   Welsh Corgi                    NA       NA         NA
567 567   West Highland Terrier          NA       NA         NA
568 568   Western Gorilla                Animalia Chordata   Mammalia
569 569   Western Lowland Gorilla        Animalia Chordata   Mammalia
570 570   Whale Shark                    Animalia Chordata   Chondrichthyes
571 571   Whippet                        NA       NA         NA
572 572   White Faced Capuchin           Animalia Chordata   Mammalia
573 573   White Rhinoceros               Animalia Chordata   Mammalia
574 574   White Tiger                    Animalia Chordata   Mammalia
575 575   Wild Boar                      Animalia Chordata   Mammalia
576 576   Wildebeest                     Animalia Chordata   Mammalia
577 577   Wolf                           Animalia Chordata   Mammalia
578 578   Wolverine                      Animalia Chordata   Mammalia
579 579   Wombat                         Animalia Chordata   Mammalia
580 580   Woodlouse                      Animalia Arthropoda Crustacea
581 581   Woodpecker                     Animalia Chordata   Aves
582 582   Woolly Mammoth                 Animalia Chordata   Mammalia
583 583   Woolly Monkey                  Animalia Chordata   Mammalia
584 584   Wrasse                         Animalia Chordata   Actinopterygii
585 585   X-Ray Tetra                    Animalia Chordata   Actinopterygii
586 586   Yak                            Animalia Chordata   Mammalia
587 587   Yellow-Eyed Penguin            Animalia Chordata   Aves
588 588   Yorkshire Terrier              NA       NA         NA
589 589   Zebra                          Animalia Chordata   Mammalia
590 590   Zebra Shark                    Animalia Chordata   Chondrichthyes
591 591   Zebu                           Animalia Chordata   Mammalia
592 592   Zonkey                         Animalia Chordata   Mammalia
593 593   Zorse                          Animalia Chordata   Mammalia
    Order             Family          Genus
1   Tubulidentata     Orycteropodidae Orycteropus
2   NA                NA              NA
3   Sphenisciformes   Spheniscidae    Pygoscelis
4   NA                NA              NA
5   NA                NA              NA
6   Proboscidea       Elephantidae    Loxodonta
7   Carnivora         Viverridae      Civettictis
8   Anura             Pipidae         Xenopus
9   Proboscidea       Elephantidae    Loxodonta
10  Carnivora         Nandiniidae     Nandinia
11  Sphenisciformes   Spheniscidae    Spheniscus
12  Anura             Bufonidae       Nectophryne
13  Carnivora         Canidae         Lycaon
14  NA                NA              NA
15  NA                NA              NA
16  NA                NA              NA
17  NA                NA              NA
18  NA                NA              NA
19  Procellariiformes Diomedeidae     NA
20  Testudines        Testudinidae    Geochelone
21  Crocodilia        Alligatoridae   Alligator
22  NA                NA              NA
23  NA                NA              NA
24  NA                NA              NA
25  NA                NA              NA
26  NA                NA              NA
27  NA                NA              NA
28  NA                NA              NA
29  NA                NA              NA
30  NA                NA              NA
... ...               ...             ...
564 Rodentia          Cricetidae      Arvicola
565 Carnivora         Mustelidae      Mustela
566 NA                NA              NA
567 NA                NA              NA
568 Primates          Hominidae       Gorilla
569 Primates          Hominidae       Gorilla
570 Orectolobiformes  Rhincodontidae  Rhincodon
571 NA                NA              NA
572 Primates          Cebidae         Cebus
573 Perissodactyla    Rhinocerotidae  Ceratotherium
574 Carnivora         Felidae         Panthera
575 Artiodactyla      Suidae          Sus
576 Artiodactyla      Bovidae         Connochaetes
577 Carnivora         Canidae         Canis
578 Carnivora         Mustelidae      Gulo
579 Diprotodontia     Vombatidae      Vombatus
580 Isopoda           Oniscidea       NA
581 Piciformes        Picidae         NA
582 Proboscidea       Elephantidae    Mammuthus
583 Primates          Atelidae        Lagothrix
584 Perciformes       Labridae        NA
585 Characiformes     Characidae      Pristella
586 Artiodactyla      Bovidae         Bos
587 Sphenisciformes   Spheniscidae    Megadyptes
588 NA                NA              NA
589 Perissodactyla    Equidae         Equus
590 Orectolobiformes  Stegostomatidae Stegostoma
591 Artiodactyla      Bovidae         Bos
592 Perissodactyla    Equidae         Equus
593 Perissodactyla    Equidae         Equus
    Scientific Name                         Common Name                    ...
1   Orycteropus afer                        Aardvark                       ...
2   NA                                      Abyssinian                     ...
3   Pygoscelis adeliae                      Adelie Penguin                 ...
4   NA                                      Affenpinscher                  ...
5   NA                                      Afghan Hound                   ...
6   Loxodonta africana africana             African Bush Elephant          ...
7   Civettictis civetta                     African Civet                  ...
8   Xenopus laevis                          African Clawed Frog            ...
9   Loxodonta cyclotis                      African Forest Elephant        ...
10  Nandinia binotata                       African Palm Civet             ...
11  Spheniscus demersus                     African Penguin                ...
12  Nectophryne afra                        NA                             ...
13  Lycaon pictus                           African Wild Dog               ...
14  NA                                      Ainu Dog                       ...
15  NA                                      Airedale Terrier               ...
16  NA                                      Akbash                         ...
17  NA                                      Akita                          ...
18  NA                                      Alaskan Malamute               ...
19  Diomedeidae                             Albatross                      ...
20  Geochelone gigantea                     Aldabra Giant Tortoise         ...
21  Alligator mississippiensis              Alligator                      ...
22  NA                                      Alpine Dachsbracke             ...
23  NA                                      American Bulldog               ...
24  NA                                      American Cocker Spaniel        ...
25  NA                                      American Coonhound             ...
26  NA                                      American Eskimo Dog            ...
27  NA                                      American Foxhound              ...
28  NA                                      American Pit Bull Terrier      ...
29  NA                                      American Staffordshire Terrier ...
30  NA                                      American Water Spaniel         ...
... ...                                     ...
564 Arvicola amphibius                      Water Vole                     ...
565 Mustela nivalis                         Weasel                         ...
566 NA                                      Welsh Corgi                    ...
567 NA                                      West Highland Terrier          ...
568 Gorilla Gorilla                         NA                             ...
569 Gorilla Gorilla Gorilla                 NA                             ...
570 Rhincodon Typus                         NA                             ...
571 NA                                      Whippet                        ...
572 Cebus Capucinus                         NA                             ...
573 Ceratotherium simum                     NA                             ...
574 Panthera tigris tigris                  White Tiger                    ...
575 Sus scrofa                              Wild Boar                      ...
576 Connochaetes Taurinus                   NA                             ...
577 Canis Rufus                             NA                             ...
578 Gulo Gulo                               NA                             ...
579 Vombatus Ursinus                        NA                             ...
580 Oniscidea                               Woodlouse                      ...
581 Picidae                                 NA                             ...
582 Mammuthus Primigenius                   NA                             ...
583 Lagothrix Lagotricha                    NA                             ...
584 Labridae                                Wrasse                         ...
585 Pristella maxillaris                    X-Ray Tetra                    ...
586 Bos Grunniens                           NA                             ...
587 Megadyptes Antipodes                    NA                             ...
588 NA                                      Yorkshire Terrier              ...
589 Equus zebra, Equus quagga, Equus grevyi Zebra                          ...
590 Stegostoma Fasciatum                    NA                             ...
591 Bos Primigenius Indicus                 NA                             ...
592 Equus zebra x Equus asinus              Zonkey                         ...
593 Equus zebra x Equus caballus            Zorse                          ...
    Age Of Independence Main Prey                       Average Size
1   NA                  NA                              NA
2   NA                  NA                              NA
3   NA                  NA                              NA
4   NA                  NA                              NA
5   NA                  NA                              NA
6   NA                  NA                              NA
7   NA                  NA                              NA
8   5 days              NA                              NA
9   NA                  NA                              NA
10  NA                  NA                              NA
11  NA                  NA                              NA
12  NA                  NA                              NA
13  NA                  NA                              NA
14  NA                  NA                              NA
15  NA                  NA                              NA
16  NA                  NA                              NA
17  NA                  NA                              NA
18  NA                  NA                              NA
19  NA                  Fish, Crab, Squid               NA
20  3 - 6 months        NA                              NA
21  1- 2 years          NA                              NA
22  NA                  NA                              NA
23  NA                  NA                              NA
24  NA                  NA                              38cm (15in)
25  NA                  NA                              NA
26  NA                  NA                              NA
27  NA                  NA                              NA
28  NA                  NA                              NA
29  NA                  NA                              48cm (19in)
30  NA                  NA                              42cm (18in)
... ...                 ...                             ...
564 NA                  NA                              NA
565 NA                  NA                              NA
566 NA                  NA                              NA
567 NA                  NA                              NA
568 NA                  Leaves, Fruit, Flowers          NA
569 NA                  Leaves, Fruit, Flowers          NA
570 NA                  Krill, Plankton, Crab, Fish     NA
571 NA                  NA                              NA
572 NA                  Fruit, Leaves, Insects          NA
573 NA                  Grass, Fruit, Berries, Leaves   NA
574 NA                  NA                              NA
575 NA                  NA                              NA
576 NA                  Grass, Leaves, Shoots           NA
577 NA                  Deer, Elk, Moose                NA
578 NA                  Caribou, Moose, Sheep, Eggs     NA
579 NA                  Grass, Shrubs, Roots            NA
580 NA                  Decaying leaf and plant matter, NA
581 NA                  Seeds, Fruit, Insects           NA
582 NA                  Grasses, Twigs, Rushes          NA
583 NA                  Fruit, Seeds, Insects           NA
584 NA                  Small Fish and Invertebrates    NA
585 Immediately         NA                              NA
586 NA                  Grass, Herbs, Mosses            NA
587 NA                  Krill, Fish, Shrimp             NA
588 NA                  NA                              NA
589 NA                  NA                              NA
590 NA                  Fish, Crabs, Snails             NA
591 NA                  Grass. Seeds, Flowers           NA
592 NA                  NA                              NA
593 NA                  NA                              NA
    Optimum pH Level Favourite Food
1   NA               NA
2   NA               NA
3   NA               NA
4   NA               NA
5   NA               NA
6   NA               NA
7   NA               NA
8   NA               NA
9   NA               NA
10  NA               NA
11  NA               NA
12  NA               NA
13  NA               NA
14  NA               NA
15  NA               NA
16  NA               NA
17  NA               NA
18  NA               NA
19  NA               NA
20  NA               NA
21  NA               NA
22  NA               NA
23  NA               NA
24  NA               NA
25  NA               NA
26  NA               NA
27  NA               NA
28  NA               NA
29  NA               NA
30  NA               NA
... ...              ...
564 NA               NA
565 NA               NA
566 NA               NA
567 NA               NA
568 NA               Leaves
569 NA               Leaves
570 NA               Krill
571 NA               NA
572 NA               Fruit
573 NA               Grass
574 NA               NA
575 NA               NA
576 NA               Grass
577 NA               Deer
578 NA               Caribou
579 NA               Grass
580 NA               Decaying leaf and plant matter,
581 NA               Seeds
582 NA               Grasses
583 NA               Fruit
584 5 - 7            Fish
585 6.0 - 7.0        NA
586 NA               Grass
587 NA               Krill
588 NA               NA
589 NA               NA
590 7.8 - 8.4        Fish
591 NA               Grass
592 NA               NA
593 NA               NA
    Special Features                               Size
1   NA                                             NA
2   NA                                             NA
3   NA                                             NA
4   NA                                             NA
5   NA                                             NA
6   NA                                             NA
7   NA                                             NA
8   NA                                             NA
9   NA                                             NA
10  NA                                             NA
11  NA                                             NA
12  NA                                             NA
13  NA                                             NA
14  NA                                             NA
15  NA                                             NA
16  NA                                             NA
17  NA                                             NA
18  NA                                             NA
19  NA                                             NA
20  NA                                             NA
21  NA                                             NA
22  NA                                             NA
23  NA                                             NA
24  NA                                             NA
25  NA                                             NA
26  NA                                             NA
27  NA                                             NA
28  NA                                             NA
29  NA                                             NA
30  NA                                             NA
... ...                                            ...
564 NA                                             NA
565 NA                                             NA
566 NA                                             30cm (12in)
567 NA                                             30cm (12in)
568 Large head and long arms                       NA
569 Large head and long arms                       NA
570 Enormous streamlined body and broad, flat head 10-12.2m (33-40ft)
571 NA                                             55cm (22in)
572 White markings on face and long tail           35-45cm (13.8-18in)
573 Hard, thick skin and two large horns           3.4-4.2m (11-14ft)
574 NA                                             NA
575 NA                                             NA
576 Long, thin legs and hairy face                 1.2-1.4m (3.9-4.5ft)
577 Thick, warm fur and loud howling noise         60-91cm (24-36in)
578 Long, sharp claws and bear-like appearance     65-87cm (25-34in)
579 Hairy nose and pouch to nurse young            1-1.2m (39-47in)
580 Segmented body and can curl into a ball        3-30mm (0.1-1.1in)
581 Long, hard beak and striking coloured feathers 8-58cm (3-23in)

In [4]:
animal_1 <- animal_df %>%
  select(Index, Name, Group, Location, Habitat, `Conservation Status`, `Estimated Population Size`, `Biggest Threat`)
animal_1

    Index Name                           Group
1    1    Aardvark                       Mammal
2    2    Abyssinian                     Cat
3    3    Adelie Penguin                 Bird
4    4    Affenpinscher                  Dog
5    5    Afghan Hound                   Dog
6    6    African Bush Elephant          Mammal
7    7    African Civet                  Mammal
8    8    African Clawed Frog            Amphibian
9    9    African Forest Elephant        Mammal
10  10    African Palm Civet             Mammal
11  11    African Penguin                Bird
12  12    African Tree Toad              NA
13  13    African Wild Dog               Mammal
14  14    Ainu Dog                       Dog
15  15    Airedale Terrier               Dog
16  16    Akbash                         Dog
17  17    Akita                          Dog
18  18    Alaskan Malamute               Dog
19  19    Albatross                      Bird
20  20    Aldabra Giant Tortoise         Reptile
21  21    Alligator                      Reptile
22  22    Alpine Dachsbracke             Dog
23  23    American Bulldog               Dog
24  24    American Cocker Spaniel        Dog
25  25    American Coonhound             Dog
26  26    American Eskimo Dog            Dog
27  27    American Foxhound              Dog
28  28    American Pit Bull Terrier      Dog
29  29    American Staffordshire Terrier Mastiff
30  30    American Water Spaniel         Gun Dog
... ...   ...                            ...
564 564   Water Vole                     Mammal
565 565   Weasel                         Mammal
566 566   Welsh Corgi                    Herd
567 567   West Highland Terrier          Terrier
568 568   Western Gorilla                NA
569 569   Western Lowland Gorilla        NA
570 570   Whale Shark                    NA
571 571   Whippet                        South
572 572   White Faced Capuchin           NA
573 573   White Rhinoceros               NA
574 574   White Tiger                    Mammal
575 575   Wild Boar                      Mammal
576 576   Wildebeest                     NA
577 577   Wolf                           NA
578 578   Wolverine                      NA
579 579   Wombat                         NA
580 580   Woodlouse                      NA
581 581   Woodpecker                     NA
582 582   Woolly Mammoth                 NA
583 583   Woolly Monkey                  NA
584 584   Wrasse                         NA
585 585   X-Ray Tetra                    Fish
586 586   Yak                            NA
587 587   Yellow-Eyed Penguin            NA
588 588   Yorkshire Terrier              Terrier
589 589   Zebra                          Mammal
590 590   Zebra Shark                    NA
591 591   Zebu                           NA
592 592   Zonkey                         Mammal
593 593   Zorse                          Mammal
    Location
1   Sub-Saharan Africa
2   NA
3   Coastal Antarctica
4   NA
5   NA
6   central and southern Africa
7   across sub-Saharan Africa
8   eastern and southern Africa
9   central and southern Africa
10  eastern Africa
11  south-west African coast
12  Central Africa
13  sub-Saharan Africa
14  NA
15  NA
16  NA
17  NA
18  NA
19  across the southern seas
20  Aldabra atoll in the Indian Ocean
21  southern USA and China
22  NA
23  NA
24  NA
25  NA
26  NA
27  NA
28  NA
29  NA
30  NA
... ...
564 Throughout Europe
565 Northern Hemisphere
566 NA
567 NA
568 NA
569 NA
570 NA
571 NA
572 NA
573 NA
574 Indian subcontinent
575 Throughout Europe and Asia
576 NA
577 NA
578 NA
579 NA
580 Worldwide
581 NA
582 NA
583 NA
584 NA
585 Brazil, Guiana, Guyana, and Venezuela
586 NA
587 NA
588 NA
589 Eastern and Southern Africa
590 NA
591 NA
592 Africa, Zoos
593 Africa, Zoos
    Habitat                                       Conservation Status
1   Sandy and clay soil                           Least Concern
2   NA                                            NA
3   Antarctic land and ocean                      Least Concern
4   NA                                            NA
5   NA                                            NA
6   Forest, savannah and flood plains             Threatened
7   Tropical rainforest                           Least Concern
8   Warm stagnant water with grassland            Least Concern
9   Forest, savannah and flood plains             Endangered
10  Tropical rainforest                           Least Concern
11  Rocky Ocean Islands                           Endangered
12  Tropical lowland forest                       Least Concern
13  Open plains and savanna                       Endangered
14  NA                                            NA
15  NA                                            NA
16  NA                                            NA
17  NA                                            NA
18  NA                                            NA
19  southern waters and islands                   Endangered
20  Grasslands and swamps                         Vulnerable
21  Marsh and swampland                           Least Concern
22  NA                                            NA
23  NA                                            NA
24  NA                                            NA
25  NA                                            NA
26  NA                                            NA
27  NA                                            NA
28  NA                                            NA
29  NA                                            NA
30  NA                                            NA
... ...                                           ...
564 Banks of slow-moving water                    Least Concern
565 Forest and open woodland                      Least Concern
566 NA                                            NA
567 NA                                            NA
568 Rainforest and dense jungle                   Critically Endangered
569 Rainforest and dense jungle                   Critically Endangered
570 Warm coastal waters and open ocean            Threatened
571 NA                                            NA
572 High tropical forests and wet lowland regions Least Concern
573 Tropical bushland, grassland and savannas     Endangered
574 Dense jungle and mangrove swamp               Endangered
575 Deciduous broad-leaf forests                  Least Concern
576 Grass plains and bush covered savanna         Endangered
577 Grass plains and woodland                     Threatened
578 Mountainous regions and dense forest          Threatened
579 Woodland and coastal shrub land               Endangered
580 Moist environments                            Least Concern
581 Dense forest and woodland                     Least Concern
582 Arctic Tundra                                 Extinct
583 Humid and mature tropical forests             Threatened
584 Coral reefs and rocky shores                  Least Concern
585 Amazon coastal waters                         Not Listed
586 Alpine meadows and open hills                 Threatened
587 Rocky Antarctic Islands                       Endangered
588 NA                                            NA
589 Open grassland and plains                     Endangered
590 Tropical, coastal waters                      Threatened
591 Tropical jungles and open plains              Least Concern
592 Savanna and open woodland                     Not Listed
593 Open grasslands and woodland                  Not Listed
    Estimated Population Size Biggest Threat
1   Unknown                   Habitat loss
2   NA                        NA
3   5 million                 Rapid ice melt
4   NA                        NA
5   NA                        NA
6   300,000                   Poaching and habitat loss
7   Abundant                  Habitat loss
8   Abundant                  Water pollution
9   200,000                   Poaching and habitat loss
10  Locally abundant          Habitat loss
11  140,000                   Habitat disruption
12  NA                        NA
13  Less than 5,000           Habitat loss
14  NA                        NA
15  NA                        NA
16  NA                        NA
17  NA                        NA
18  NA                        NA
19  Low                       Lone-line fishing
20  200,000                   Habitat loss
21  1 million/less than 100   Water pollution
22  NA                        NA
23  NA                        NA
24  NA                        NA
25  NA                        NA
26  NA                        NA
27  NA                        NA
28  NA                        NA
29  NA                        NA
30  NA                        NA
... ...                       ...
564 Sustainable               Habitat loss
565 Stable                    Lack of prey species
566 NA                        NA
567 NA                        NA
568 NA                        NA
569 NA                        NA
570 NA                        NA
571 NA                        NA
572 NA                        NA
573 NA                        NA
574 0 in wild                 Habitat loss
575 Sustainable               Habitat loss
576 NA                        NA
577 NA                        NA
578 NA                        NA
579 NA                        NA
580 NA                        NA
581 NA                        NA
582 NA                        NA
583 NA                        NA
584 NA                        NA
585 Abundant                  Water Pollution
586 NA                        NA
587 NA                        NA
588 NA                        NA
589 Declining                 Habitat loss
590 NA                        NA
591 NA                        NA
592 Not known                 Habitat loss and commercial breeding
593 Not known                 Habitat loss and commercial breeding

In [5]:
animal_2 <- arrange(animal_1, `Conservation Status`)
animal_2

    Index Name                       Group
1   122   Camel                      Mammal
2    84   Black Rhinoceros           NA
3    99   Bornean Orang-utan         Mammal
4   100   Borneo Elephant            NA
5   160   Cottontop Tamarin          NA
6   169   Cross River Gorilla        NA
7   199   Eastern Gorilla            NA
8   249   Gharial                    Reptile
9   322   Javan Rhinoceros           NA
10  381   Monte Iberia Eleuth        NA
11  405   Orang-utan                 Mammal
12  451   Radiated Tortoise          Reptile
13  457   Red Wolf                   NA
14  474   Saola                      Mammal
15  525   Sumatran Elephant          NA
16  526   Sumatran Orang-utan        Mammal
17  527   Sumatran Rhinoceros        NA
18  532   Tapanuli Orang-utan        Mammal
19  568   Western Gorilla            NA
20  569   Western Lowland Gorilla    NA
21  195   Dusky Dolphin              Mammal
22  294   Horn Shark                 NA
23    9   African Forest Elephant    Mammal
24   11   African Penguin            Bird
25   13   African Wild Dog           Mammal
26   19   Albatross                  Bird
27   40   Armadillo                  NA
28   41   Asian Elephant             NA
29   44   Asiatic Black Bear         Mammal
30   51   Axolotl                    NA
... ...   ...                        ...
564 391   Neapolitan Mastiff         Mastiff
565 392   Newfoundland               Working Dog
566 395   Norfolk Terrier            Terrier
567 396   Norwegian Forest           Longhair
568 402   Old English Sheepdog       Herd
569 414   Pekingese                  Working Dog
570 417   Persian                    Longhair
571 426   Pointer                    Gun Dog
572 430   Poodle                     Gun Dog
573 438   Pug                        Mastiff
574 452   Ragdoll                    Mediumhair
575 454   Rattlesnake                NA
576 467   Rottweiler                 Mastiff
577 469   Russian Blue               Shorthair
578 471   Saint Bernard              Mastiff
579 488   Shih Tzu                   Herd
580 490   Siamese                    Shorthair
581 492   Siberian                   Longhair
582 493   Siberian Husky             North
583 500   Snake                      NA
584 502   Snowshoe                   Shorthair
585 504   Somali                     Longhair
586 517   Staffordshire Bull Terrier Mastiff
587 540   Tibetan Mastiff            Mastiff
588 541   Tiffany                    Semi-Longhair
589 551   Turkish Angora             Mediumhair
590 566   Welsh Corgi                Herd
591 567   West Highland Terrier      Terrier
592 571   Whippet                    South
593 588   Yorkshire Terrier          Terrier
    Location
1   Throughout the Middle East
2   NA
3   Borneo
4   NA
5   NA
6   NA
7   NA
8   Northern India and Nepal
9   NA
10  NA
11  Borneo and Sumatra
12  southern Madagascar
13  NA
14  Mountains of Vietnam-Laos border
15  NA
16  Northern Sumatra
17  NA
18  northwestern Sumatra
19  NA
20  NA
21  Across the southern hemisphere
22  NA
23  central and southern Africa
24  south-west African coast
25  sub-Saharan Africa
26  across the southern seas
27  NA
28  NA
29  Central and Southern Asia, Russia and Japan
30  NA
... ...
564 NA
565 NA
566 NA
567 NA
568 NA
569 NA
570 NA
571 NA
572 NA
573 NA
574 NA
575 NA
576 NA
577 NA
578 NA
579 NA
580 NA
581 NA
582 NA
583 NA
584 NA
585 NA
586 NA
587 NA
588 NA
589 NA
590 NA
591 NA
592 NA
593 NA
    Habitat                                            Conservation Status
1   Arid desert and scrubland                          Common
2   Tropical bushland, grassland and savannas          Critically Endangered
3   Lowland forest and peat-swamps                     Critically Endangered
4   Rainforest and tropical woodland                   Critically Endangered
5   Lowland tropical forest                            Critically Endangered
6   Rainforest and dense jungle                        Critically Endangered
7   Tropical forest and jungles in mountainous regions Critically Endangered
8   Wide and calm slow-moving rivers                   Critically Endangered
9   Tropical bushland, grassland and rainforest        Critically Endangered
10  Water around Mount Iberia                          Critically Endangered
11  Lowland tropical forest                            Critically Endangered
12  Dry tropical forest                                Critically Endangered
13  Coastal prairie and marshland                      Critically Endangered
14  Moist and dense evergreen forest                   Critically Endangered
15  Rainforest and tropical woodland                   Critically Endangered
16  Dense, tropical forest                             Critically Endangered
17  Tropical bushland, grassland and savannas          Critically Endangered
18  Tropical and subtropical broadleaf forests         Critically Endangered
19  Rainforest and dense jungle                        Critically Endangered
20  Rainforest and dense jungle                        Critically Endangered
21  Cooler waters near continental shelves             Data Deficient
22  Warm continental shelves                           Data Deficient
23  Forest, savannah and flood plains                  Endangered
24  Rocky Ocean Islands                                Endangered
25  Open plains and savanna                            Endangered
26  southern waters and islands                        Endangered
27  Forest and grasslands                              Endangered
28  Rainforest and tropical woodland                   Endangered
29  Deciduous Tropical Forest                          Endangered
30  High altitude freshwater lakes                     Endangered
... ...                                                ...
564 NA                                                 NA
565 NA                                                 NA
566 NA                                                 NA
567 NA                                                 NA
568 NA                                                 NA
569 NA                                                 NA
570 NA                                                 NA
571 NA                                                 NA
572 NA                                                 NA
573 NA                                                 NA
574 NA                                                 NA
575 NA                                                 NA
576 NA                                                 NA
577 NA                                                 NA
578 NA                                                 NA
579 NA                                                 NA
580 NA                                                 NA
581 NA                                                 NA
582 NA                                                 NA
583 NA                                                 NA
584 NA                                                 NA
585 NA                                                 NA
586 NA                                                 NA
587 NA                                                 NA
588 NA                                                 NA
589 NA                                                 NA
590 NA                                                 NA
591 NA                                                 NA
592 NA                                                 NA
593 NA                                                 NA
    Estimated Population Size Biggest Threat
1   20 million                Drought
2   NA                        NA
3   13,500                    Habitat loss
4   NA                        NA
5   NA                        NA
6   NA                        NA
7   NA                        NA
8   182                       Habitat loss and hunting
9   NA                        NA
10  NA                        NA
11  20,000                    Hunting and Habitat Loss
12  Declining                 Habitat loss
13  NA                        NA
14  less than 250             Habitat loss and hunting
15  NA                        NA
16  4,000                     Hunting and habitat loss
17  NA                        NA
18  800                       Habitat loss and hunting
19  NA                        NA
20  NA                        NA
21  Not Known                 Hunting and commercial fishing
22  NA                        NA
23  200,000                   Poaching and habitat loss
24  140,000                   Habitat disruption
25  Less than 5,000           Habitat loss
26  Low                       Lone-line fishing
27  NA                        NA
28  NA                        NA
29  50,000                    Hunting and Habitat loss
30  NA                        NA
... ...                       ...
564 NA                        NA
565 NA                        NA
566 NA                        NA
567 NA                        NA
568 NA                        NA
569 NA                        NA
570 NA                        NA
571 NA                        NA
572 NA                        NA
573 NA                        NA
574 NA                        NA
575 NA                        NA
576 NA                        NA
577 NA                        NA
578 NA                        NA
579 NA                        NA
580 NA                        NA
581 NA                        NA
582 NA                        NA
583 NA                        NA
584 NA                        NA
585 NA                        NA
586 NA                        NA
587 NA                        NA
588 NA                        NA
589 NA                        NA
590 NA                        NA
591 NA                        NA
592 NA                        NA
593 NA                        NA

In [7]:
group_animal_2 <- animal_2 %>%
  group_by(`Conservation Status`) %>%
  tally()
group_animal_2

   Conservation Status                              n
1  Common                                             1
2  Critically Endangered                             19
3  Data Deficient                                     2
4  Endangered                                        73
5  Extinct                                            5
6  Least Concern                                    199
7  Least Concern, Vulnerable, Critically Endangered   1
8  Near Threatened                                    7
9  Not Listed                                         4
10 Threatened                                       116
11 Vulnerable                                        25
12 NA                                               141

In [6]:
animal_3 <- animal_2 %>%
  filter(`Conservation Status` != 'NA') %>%
  filter(`Conservation Status` != 'Common') %>%
  filter(`Conservation Status` != 'Data Deficient') %>%
  filter(`Conservation Status` != 'Not Listed') %>%
  filter(`Conservation Status` != 'Least Concern, Vulnerable, Critically Endangered')
animal_3

    Index Name                    Group
1    84   Black Rhinoceros        NA
2    99   Bornean Orang-utan      Mammal
3   100   Borneo Elephant         NA
4   160   Cottontop Tamarin       NA
5   169   Cross River Gorilla     NA
6   199   Eastern Gorilla         NA
7   249   Gharial                 Reptile
8   322   Javan Rhinoceros        NA
9   381   Monte Iberia Eleuth     NA
10  405   Orang-utan              Mammal
11  451   Radiated Tortoise       Reptile
12  457   Red Wolf                NA
13  474   Saola                   Mammal
14  525   Sumatran Elephant       NA
15  526   Sumatran Orang-utan     Mammal
16  527   Sumatran Rhinoceros     NA
17  532   Tapanuli Orang-utan     Mammal
18  568   Western Gorilla         NA
19  569   Western Lowland Gorilla NA
20    9   African Forest Elephant Mammal
21   11   African Penguin         Bird
22   13   African Wild Dog        Mammal
23   19   Albatross               Bird
24   40   Armadillo               NA
25   41   Asian Elephant          NA
26   44   Asiatic Black Bear      Mammal
27   51   Axolotl                 NA
28   52   Aye Aye                 Mammal
29   54   Bactrian Camel          NA
30   58   Bandicoot               NA
... ...   ...                     ...
415 577   Wolf                    NA
416 578   Wolverine               NA
417 583   Woolly Monkey           NA
418 586   Yak                     NA
419 590   Zebra Shark             NA
420  20   Aldabra Giant Tortoise  Reptile
421  43   Asian Palm Civet        NA
422  57   Banded Palm Civet       NA
423  78   Binturong               Mammal
424 127   Cassowary               NA
425 136   Cheetah                 Mammal
426 148   Clouded Leopard         Mammal
427 167   Crested Penguin         NA
428 175   Darwin's Frog           NA
429 196   Dwarf Crocodile         Reptile
430 252   Giant Panda Bear        Mammal
431 268   Great White Shark       Fish
432 292   Hippopotamus            Mammal
433 300   Humboldt Penguin        NA
434 334   Komodo Dragon           Reptile
435 347   Lion                    Mammal
436 360   Malayan Civet           NA
437 369   Masked Palm Civet       NA
438 428   Polar Bear              Mammal
439 446   Quokka                  Mammal
440 468   Royal Penguin           NA
441 509   Sperm Whale             NA
442 529   Sun Bear                Mammal
443 552   Uakari                  Mammal
444 554   Umbrellabird            Bird
    Location
1   NA
2   Borneo
3   NA
4   NA
5   NA
6   NA
7   Northern India and Nepal
8   NA
9   NA
10  Borneo and Sumatra
11  southern Madagascar
12  NA
13  Mountains of Vietnam-Laos border
14  NA
15  Northern Sumatra
16  NA
17  northwestern Sumatra
18  NA
19  NA
20  central and southern Africa
21  south-west African coast
22  sub-Saharan Africa
23  across the southern seas
24  NA
25  NA
26  Central and Southern Asia, Russia and Japan
27  NA
28  Eastern coast of Madagascar
29  NA
30  NA
... ...
415 NA
416 NA
417 NA
418 NA
419 NA
420 Aldabra atoll in the Indian Ocean
421 NA
422 NA
423 Throughout South-East Asia
424 NA
425 Asia and Africa
426 South-east Asia
427 NA
428 NA
429 West Africa
430 Mountains of central China
431 Worldwide
432 Sub-Saharan Africa
433 NA
434 Komodo National Park
435 sub-Saharan Africa
436 NA
437 NA
438 Arctic Ocean
439 south-west Australia
440 NA
441 NA
442 South-east Asia
443 Amazon River Basin
444 Central and South America
    Habitat                                            Conservation Status
1   Tropical bushland, grassland and savannas          Critically Endangered
2   Lowland forest and peat-swamps                     Critically Endangered
3   Rainforest and tropical woodland                   Critically Endangered
4   Lowland tropical forest                            Critically Endangered
5   Rainforest and dense jungle                        Critically Endangered
6   Tropical forest and jungles in mountainous regions Critically Endangered
7   Wide and calm slow-moving rivers                   Critically Endangered
8   Tropical bushland, grassland and rainforest        Critically Endangered
9   Water around Mount Iberia                          Critically Endangered
10  Lowland tropical forest                            Critically Endangered
11  Dry tropical forest                                Critically Endangered
12  Coastal prairie and marshland                      Critically Endangered
13  Moist and dense evergreen forest                   Critically Endangered
14  Rainforest and tropical woodland                   Critically Endangered
15  Dense, tropical forest                             Critically Endangered
16  Tropical bushland, grassland and savannas          Critically Endangered
17  Tropical and subtropical broadleaf forests         Critically Endangered
18  Rainforest and dense jungle                        Critically Endangered
19  Rainforest and dense jungle                        Critically Endangered
20  Forest, savannah and flood plains                  Endangered
21  Rocky Ocean Islands                                Endangered
22  Open plains and savanna                            Endangered
23  southern waters and islands                        Endangered
24  Forest and grasslands                              Endangered
25  Rainforest and tropical woodland                   Endangered
26  Deciduous Tropical Forest                          Endangered
27  High altitude freshwater lakes                     Endangered
28  Dense, tropical rainforest                         Endangered
29  Deserts close to water                             Endangered
30  Forest, rainforest and jungle                      Endangered
... ...                                                ...
415 Grass plains and woodland                          Threatened
416 Mountainous regions and dense forest               Threatened
417 Humid and mature tropical forests                  Threatened
418 Alpine meadows and open hills                      Threatened
419 Tropical, coastal waters                           Threatened
420 Grasslands and swamps                              Vulnerable
421 Tropical rainforest                                Vulnerable
422 Tropical rainforest                                Vulnerable
423 Dense, moist tropical forest                       Vulnerable
424 Wet tropical forests                               Vulnerable
425 Open grassland                                     Vulnerable
426 Dense tropical forest and jungle                   Vulnerable
427 Rocky Antarctic Islands                            Vulnerable
428 Beech-tree forests and in fields                   Vulnerable
429 Rainforest rivers and swamps                       Vulnerable
430 High-altitude, moist bamboo forest                 Vulnerable
431 Temperate, coastal waters and open ocean           Vulnerable
432 Lakes, rivers and wetlands                         Vulnerable
433 Rocky Ocean Islands                                Vulnerable
434 Open woodland and hillsides                        Vulnerable
435 open woodland, scrub, grassland                    Vulnerable
436 Tropical rainforest                                Vulnerable
437 Tropical rainforest                                Vulnerable
438 Coastal ice fields and floating ice                Vulnerable
439 Dense vegetation close to water                    Vulnerable
440 Rocky Antarctic Islands                            Vulnerable
441 Deep off-shore waters                              Vulnerable
442 Primarily, lowland tropical forests                Vulnerable
443 Part-flooded rainforest                            Vulnerable
444 Low and high altitude rainforest                   Vulnerable
    Estimated Population Size Biggest Threat
1   NA                        NA
2   13,500                    Habitat loss
3   NA                        NA
4   NA                        NA
5   NA                        NA
6   NA                        NA
7   182                       Habitat loss and hunting
8   NA                        NA
9   NA                        NA
10  20,000                    Hunting and Habitat Loss
11  Declining                 Habitat loss
12  NA                        NA
13  less than 250             Habitat loss and hunting
14  NA                        NA
15  4,000                     Hunting and habitat loss
16  NA                        NA
17  800                       Habitat loss and hunting
18  NA                        NA
19  NA                        NA
20  200,000                   Poaching and habitat loss
21  140,000                   Habitat disruption
22  Less than 5,000           Habitat loss
23  Low                       Lone-line fishing
24  NA                        NA
25  NA                        NA
26  50,000                    Hunting and Habitat loss
27  NA                        NA
28  1,000 - 10,000            Hunting and habitat loss
29  NA                        NA
30  NA                        NA
... ...                       ...
415 NA                        NA
416 NA                        NA
417 NA                        NA
418 NA                        NA
419 NA                        NA
420 200,000                   Habitat loss
421 NA                        NA
422 NA                        NA
423 Declining                 Habitat loss and capture
424 NA                        NA
425 8,500                     Habitat loss
426 Less than 10,000          Hunting and habitat loss
427 NA                        NA
428 NA                        NA
429 25,000 - 100,000          Habitat loss and hunting
430 2,000                     Habitat loss
431 Unknown                   Hunting and habitat degredation
432 150,000                   Hunting and habitat loss
433 NA                        NA
434 3,000 - 5,000             Hunting and habitat loss
435 23,000                    Habitat loss
436 NA                        NA
437 NA                        NA
438 20,000 - 25,000           Global warming
439 20,000                    Habitat loss
440 NA                        NA
441 NA                        NA
442 Unknown                   Hunting and habitat loss
443 Not Known                 Hunting and habitat loss
444 Declining                 Habitat loss

In [9]:
group_animal_3 <- animal_3 %>%
  group_by(`Conservation Status`) %>%
  tally()
group_animal_3

  Conservation Status   n
1 Critically Endangered  19
2 Endangered             73
3 Extinct                 5
4 Least Concern         199
5 Near Threatened         7
6 Threatened            116
7 Vulnerable             25

In [22]:
animal_4 <- animal_3 %>%
  filter(`Conservation Status` != 'Least Concern') %>%
  filter(`Conservation Status` != 'Near Threatened') %>%
  filter(`Conservation Status` != 'Threatened')
animal_4

    Index Name                    Group
1    84   Black Rhinoceros        NA
2    99   Bornean Orang-utan      Mammal
3   100   Borneo Elephant         NA
4   160   Cottontop Tamarin       NA
5   169   Cross River Gorilla     NA
6   199   Eastern Gorilla         NA
7   249   Gharial                 Reptile
8   322   Javan Rhinoceros        NA
9   381   Monte Iberia Eleuth     NA
10  405   Orang-utan              Mammal
11  451   Radiated Tortoise       Reptile
12  457   Red Wolf                NA
13  474   Saola                   Mammal
14  525   Sumatran Elephant       NA
15  526   Sumatran Orang-utan     Mammal
16  527   Sumatran Rhinoceros     NA
17  532   Tapanuli Orang-utan     Mammal
18  568   Western Gorilla         NA
19  569   Western Lowland Gorilla NA
20    9   African Forest Elephant Mammal
21   11   African Penguin         Bird
22   13   African Wild Dog        Mammal
23   19   Albatross               Bird
24   40   Armadillo               NA
25   41   Asian Elephant          NA
26   44   Asiatic Black Bear      Mammal
27   51   Axolotl                 NA
28   52   Aye Aye                 Mammal
29   54   Bactrian Camel          NA
30   58   Bandicoot               NA
... ...   ...                     ...
93  183   Dodo                    NA
94  390   Neanderthal             NA
95  470   Sabre-Toothed Tiger     NA
96  520   Stellers Sea Cow        NA
97  582   Woolly Mammoth          NA
98   20   Aldabra Giant Tortoise  Reptile
99   43   Asian Palm Civet        NA
100  57   Banded Palm Civet       NA
101  78   Binturong               Mammal
102 127   Cassowary               NA
103 136   Cheetah                 Mammal
104 148   Clouded Leopard         Mammal
105 167   Crested Penguin         NA
106 175   Darwin's Frog           NA
107 196   Dwarf Crocodile         Reptile
108 252   Giant Panda Bear        Mammal
109 268   Great White Shark       Fish
110 292   Hippopotamus            Mammal
111 300   Humboldt Penguin        NA
112 334   Komodo Dragon           Reptile
113 347   Lion                    Mammal
114 360   Malayan Civet           NA
115 369   Masked Palm Civet       NA
116 428   Polar Bear              Mammal
117 446   Quokka                  Mammal
118 468   Royal Penguin           NA
119 509   Sperm Whale             NA
120 529   Sun Bear                Mammal
121 552   Uakari                  Mammal
122 554   Umbrellabird            Bird
    Location
1   NA
2   Borneo
3   NA
4   NA
5   NA
6   NA
7   Northern India and Nepal
8   NA
9   NA
10  Borneo and Sumatra
11  southern Madagascar
12  NA
13  Mountains of Vietnam-Laos border
14  NA
15  Northern Sumatra
16  NA
17  northwestern Sumatra
18  NA
19  NA
20  central and southern Africa
21  south-west African coast
22  sub-Saharan Africa
23  across the southern seas
24  NA
25  NA
26  Central and Southern Asia, Russia and Japan
27  NA
28  Eastern coast of Madagascar
29  NA
30  NA
... ...
93  NA
94  NA
95  NA
96  NA
97  NA
98  Aldabra atoll in the Indian Ocean
99  NA
100 NA
101 Throughout South-East Asia
102 NA
103 Asia and Africa
104 South-east Asia
105 NA
106 NA
107 West Africa
108 Mountains of central China
109 Worldwide
110 Sub-Saharan Africa
111 NA
112 Komodo National Park
113 sub-Saharan Africa
114 NA
115 NA
116 Arctic Ocean
117 south-west Australia
118 NA
119 NA
120 South-east Asia
121 Amazon River Basin
122 Central and South America
    Habitat                                            Conservation Status
1   Tropical bushland, grassland and savannas          Critically Endangered
2   Lowland forest and peat-swamps                     Critically Endangered
3   Rainforest and tropical woodland                   Critically Endangered
4   Lowland tropical forest                            Critically Endangered
5   Rainforest and dense jungle                        Critically Endangered
6   Tropical forest and jungles in mountainous regions Critically Endangered
7   Wide and calm slow-moving rivers                   Critically Endangered
8   Tropical bushland, grassland and rainforest        Critically Endangered
9   Water around Mount Iberia                          Critically Endangered
10  Lowland tropical forest                            Critically Endangered
11  Dry tropical forest                                Critically Endangered
12  Coastal prairie and marshland                      Critically Endangered
13  Moist and dense evergreen forest                   Critically Endangered
14  Rainforest and tropical woodland                   Critically Endangered
15  Dense, tropical forest                             Critically Endangered
16  Tropical bushland, grassland and savannas          Critically Endangered
17  Tropical and subtropical broadleaf forests         Critically Endangered
18  Rainforest and dense jungle                        Critically Endangered
19  Rainforest and dense jungle                        Critically Endangered
20  Forest, savannah and flood plains                  Endangered
21  Rocky Ocean Islands                                Endangered
22  Open plains and savanna                            Endangered
23  southern waters and islands                        Endangered
24  Forest and grasslands                              Endangered
25  Rainforest and tropical woodland                   Endangered
26  Deciduous Tropical Forest                          Endangered
27  High altitude freshwater lakes                     Endangered
28  Dense, tropical rainforest                         Endangered
29  Deserts close to water                             Endangered
30  Forest, rainforest and jungle                      Endangered
... ...                                                ...
93  Tropical forest                                    Extinct
94  Worldwide based near rivers                        Extinct
95  Forests and grasslands                             Extinct
96  Arctic Tundra                                      Extinct
97  Arctic Tundra                                      Extinct
98  Grasslands and swamps                              Vulnerable
99  Tropical rainforest                                Vulnerable
100 Tropical rainforest                                Vulnerable
101 Dense, moist tropical forest                       Vulnerable
102 Wet tropical forests                               Vulnerable
103 Open grassland                                     Vulnerable
104 Dense tropical forest and jungle                   Vulnerable
105 Rocky Antarctic Islands                            Vulnerable
106 Beech-tree forests and in fields                   Vulnerable
107 Rainforest rivers and swamps                       Vulnerable
108 High-altitude, moist bamboo forest                 Vulnerable
109 Temperate, coastal waters and open ocean           Vulnerable
110 Lakes, rivers and wetlands                         Vulnerable
111 Rocky Ocean Islands                                Vulnerable
112 Open woodland and hillsides                        Vulnerable
113 open woodland, scrub, grassland                    Vulnerable
114 Tropical rainforest                                Vulnerable
115 Tropical rainforest                                Vulnerable
116 Coastal ice fields and floating ice                Vulnerable
117 Dense vegetation close to water                    Vulnerable
118 Rocky Antarctic Islands                            Vulnerable
119 Deep off-shore waters                              Vulnerable
120 Primarily, lowland tropical forests                Vulnerable
121 Part-flooded rainforest                            Vulnerable
122 Low and high altitude rainforest                   Vulnerable
    Estimated Population Size Biggest Threat
1   NA                        NA
2   13,500                    Habitat loss
3   NA                        NA
4   NA                        NA
5   NA                        NA
6   NA                        NA
7   182                       Habitat loss and hunting
8   NA                        NA
9   NA                        NA
10  20,000                    Hunting and Habitat Loss
11  Declining                 Habitat loss
12  NA                        NA
13  less than 250             Habitat loss and hunting
14  NA                        NA
15  4,000                     Hunting and habitat loss
16  NA                        NA
17  800                       Habitat loss and hunting
18  NA                        NA
19  NA                        NA
20  200,000                   Poaching and habitat loss
21  140,000                   Habitat disruption
22  Less than 5,000           Habitat loss
23  Low                       Lone-line fishing
24  NA                        NA
25  NA                        NA
26  50,000                    Hunting and Habitat loss
27  NA                        NA
28  1,000 - 10,000            Hunting and habitat loss
29  NA                        NA
30  NA                        NA
... ...                       ...
93  NA                        NA
94  NA                        NA
95  NA                        NA
96  NA                        NA
97  NA                        NA
98  200,000                   Habitat loss
99  NA                        NA
100 NA                        NA
101 Declining                 Habitat loss and capture
102 NA                        NA
103 8,500                     Habitat loss
104 Less than 10,000          Hunting and habitat loss
105 NA                        NA
106 NA                        NA
107 25,000 - 100,000          Habitat loss and hunting
108 2,000                     Habitat loss
109 Unknown                   Hunting and habitat degredation
110 150,000                   Hunting and habitat loss
111 NA                        NA
112 3,000 - 5,000             Hunting and habitat loss
113 23,000                    Habitat loss
114 NA                        NA
115 NA                        NA
116 20,000 - 25,000           Global warming
117 20,000                    Habitat loss
118 NA                        NA
119 NA                        NA
120 Unknown                   Hunting and habitat loss
121 Not Known                 Hunting and habitat loss
122 Declining                 Habitat loss

In [23]:
group_animal_4 <- animal_4 %>%
  group_by(`Conservation Status`) %>%
  tally()
group_animal_4
summary(animal_4)

  Conservation Status   n
1 Critically Endangered 19
2 Endangered            73
3 Extinct                5
4 Vulnerable            25

     Index           Name              Group             Location
 Min.   :  9.0   Length:122         Length:122         Length:122
 1st Qu.:167.5   Class :character   Class :character   Class :character
 Median :340.5   Mode  :character   Mode  :character   Mode  :character
 Mean   :323.2
 3rd Qu.:483.5
 Max.   :589.0
   Habitat          Conservation Status Estimated Population Size
 Length:122         Length:122          Length:122
 Class :character   Class :character    Class :character
 Mode  :character   Mode  :character    Mode  :character



 Biggest Threat
 Length:122
 Class :character
 Mode  :character